@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&display=swap');
:root {
    --color-primary: #000E38;
    --color-primary-dark: #35145c;
    --color-secondary: #3F186A;
    --color-white: #ffffff;
    --color-text: #1f1f1f;
    --color-muted: #6b6b6b;
    --color-bg-light: #f7f4ff;

    --font-primary: "Open Sans", sans-serif;
    --font-heading: 'Poppins', sans-serif;

    --container-width: 1760px;
    --radius-md: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: var(--font-primary);
    color: var(--color-text);
}

.skip-link {
    position: absolute;
    left: -999px;
}
.skip-link:focus {
    left: 10px;
}
.primary-text {
    background: linear-gradient(360deg, #000E38 0%, #3F186A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
