.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.section-title {
  font-family: var(--font-heading);
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.section-title--light {
  color: var(--color-white);
}
