.header {
  background: var(--color-white);
  padding: 20px 0;
  height: 100px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  top: 10px;
  position: absolute;
}
/* ------------------- HERO SECTION START --------------------------- */
.hero {
  background: linear-gradient(89.72deg, #000E38 0.22%, #3F186A 52.52%);
  max-height: 720px;
  height: 100dvh;
}

.hero__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(8px, 5%, 20px);
  height: 100%;
}
.hero__grid .hero__content {
  max-width: 520px;
  width: 35vw;
}
.hero__grid .hero__content .hero__title {
  font-family: var(--font-heading);
  font-size: 4.8rem;
  line-height: 7.2rem;
  font-weight: 600;
  color: #FFCC81;
}
.hero__grid .hero__content .hero__title span {
  background: linear-gradient(180deg, #FFCC81 -43.71%, #E9C79F 118.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 5.4rem;
}
.hero__grid .hero__content .hero__subtitle {
  font-size: 3rem;
  line-height: 4.5rem;
  background: linear-gradient(180deg, #FFCC81 -43.71%, #E9C79F 118.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3.5rem;
}
.hero__grid .hero__content .hero__event {
  background: linear-gradient(180deg, #FFCC81 -43.71%, #E9C79F 118.98%);
  height: 120px;
  border-radius: 210px;
  padding: 10px;
}
.hero__grid .hero__content .hero__event .hero__event-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 210px;
  width: 100%;
  height: 100%;
  border: 1.33px solid rgba(0, 0, 0, 0.1294117647);
}
.hero__grid .hero__content .hero__event .hero__event-content .event-text {
  width: 50%;
  text-align: center;
}
.hero__grid .hero__content .hero__event .hero__event-content .event-text h6 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 700;
}
.hero__grid .hero__content .hero__event .hero__event-content .event-text p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #000E38;
  margin-top: 4px;
}
.hero__grid .hero__content .hero__event .hero__event-content .event-text:first-child {
  border-right: 1px solid #000E38;
}
.hero__grid .hero__slider-box {
  width: 40vw;
  height: 100%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  gap: clamp(10px, 5vw, 35px);
  /* Vertical movement */
}
.hero__grid .hero__slider-box .v-marquee {
  max-width: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* -------- MODIFIERS -------- */
}
.hero__grid .hero__slider-box .v-marquee:hover .v-marquee__track {
  animation-play-state: paused;
}
.hero__grid .hero__slider-box .v-marquee__track {
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation: v-scroll 8s linear infinite;
}
.hero__grid .hero__slider-box .v-marquee__item {
  width: 100%;
  height: 440px;
  border-radius: 200px;
  overflow: hidden;
  background-color: yellow;
}
.hero__grid .hero__slider-box .v-marquee__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.hero__grid .hero__slider-box .v-marquee.first .v-marquee__track {
  animation: none;
}
.hero__grid .hero__slider-box .v-marquee.second .v-marquee__track {
  animation: v-scroll 7s linear 2s infinite;
}
.hero__grid .hero__slider-box .v-marquee.second .v-marquee__track:hover .v-marquee__track {
  animation-play-state: paused;
}
@keyframes v-scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
.hero__grid .hero__form_wrapper {
  width: 40vw;
  max-width: 435px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(6, 21, 50, 0.2) 100%);
  padding: clamp(12px, 2vw, 24px);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 12px;
}
.hero__grid .hero__form_wrapper h4 {
  font-family: Archivo;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 1.2em;
  color: var(--color-white);
  letter-spacing: 0;
  margin-bottom: 2.5rem;
}
.hero__grid .hero__form_wrapper input,
.hero__grid .hero__form_wrapper textarea {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 1em;
  color: var(--color-white);
  letter-spacing: 0;
  border-radius: 0.8rem;
  width: 100%;
  height: 50px;
  padding: 1rem;
  border: none;
  outline: none;
  margin-bottom: 24px;
  background-color: #50317a;
}
.hero__grid .hero__form_wrapper input::-moz-placeholder, .hero__grid .hero__form_wrapper textarea::-moz-placeholder {
  color: var(--color-white);
  opacity: 1;
}
.hero__grid .hero__form_wrapper input::placeholder,
.hero__grid .hero__form_wrapper textarea::placeholder {
  color: var(--color-white);
  opacity: 1;
}
.hero__grid .hero__form_wrapper textarea {
  height: 100px;
  text-align: start;
  resize: none;
}
/* ------------------- HERO SECTION START --------------------------- */
/*  */
/*  */
/*  */
/* =================== 2nd section start ===================== */
.stats {
  padding: clamp(40px, 5vw, 80px) 0;
}
.stats .stats__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(20px, 5vw, 45px);
}
.stats .stats__grid .stats__item {
  background: url("../Images/leafe_bg-image.png") no-repeat center/contain;
  width: clamp(250px, 15vw, 308px);
  min-height: 165px;
  aspect-ratio: 1;
  font-size: 2.7rem;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
}
.stats .stats__grid .stats__item p {
  font-size: 2.7rem;
  line-height: 1.2em;
  font-weight: 400;
}
.stats .stats__grid .stats__item h3 {
  font-weight: 700;
}
/* =================== 2nd section start ===================== */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.schools {
  padding: 80px 0;
}

/* Wrapper */
.schools__grid {
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

/* Track */
.schools__track {
  display: flex;
  gap: clamp(20px, 4vw, 30px);
  width: -moz-max-content;
  width: max-content;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Pause on hover & focus */
.schools__grid:focus-within .schools__track,
.schools__grid:hover .schools__track {
  animation-play-state: paused;
}

/* Direction modifiers */
.schools__grid--ltr .schools__track {
  animation-name: marquee-ltr;
}

.schools__grid--rtl .schools__track {
  animation-name: marquee-rtl;
}

/* Cards */
.card {
  min-width: 274px;
  height: 120px;
  background: #ffffff;
  border: 1px solid #E8E7E7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card img {
  height: calc(100% - 10px);
  width: auto;
}

/* Animations */
@keyframes marquee-ltr {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes marquee-rtl {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.categories {
  padding: 80px 0;
}
.categories .categories__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.categories .categories__grid .card {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url("../Images/categories1.png") no-repeat center;
  background-size: cover;
  width: clamp(280px, 20vw, 420px);
  height: 405px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  padding: clamp(14px, 1vw, 24px);
  font-family: Open Sans;
}
.categories .categories__grid .card:nth-child(2) {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url("../Images/categories2.png") no-repeat center;
  background-size: cover;
}
.categories .categories__grid .card:nth-child(3) {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url("../Images/categories3.jpg") no-repeat center;
  background-size: cover;
}
.categories .categories__grid .card:nth-child(4) {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url("../Images/categories4.png") no-repeat center;
  background-size: cover;
}
.categories .categories__grid .card h6 {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 12px;
  width: 100%;
}
.categories .categories__grid .card p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}
/*  */
/*  */
/*  */
/*  */
/*  *//*  */
/*  */
/*  */
/*  */
/*  */
.appointment {
  background: linear-gradient(270deg, rgba(234, 215, 255, 0.368627451) 28%, #dec1ff 61%), url("../Images/pre-shudule.jpg") no-repeat right/cover;
  overflow-x: hidden;
}
.appointment .appointment__grid {
  padding-left: clamp(40px, 9vw, 100px);
}
.appointment .appointment__grid .appointment__content {
  padding: clamp(40px, 34vh, 173px) 0;
  max-width: 651px;
  font-family: Open Sans;
}
.appointment .appointment__grid .appointment__content .appointment__sub-text {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Italic;
  font-size: 32px;
  line-height: 1.2em;
  letter-spacing: 0;
  background: linear-gradient(270deg, #755797 0%, #9B4DF0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.appointment .appointment__grid .appointment__content .section-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 1.3em;
  text-align: start;
  font-family: Open Sans;
  margin-bottom: 0;
}
.appointment .appointment__grid .appointment__content .appointment__subtitle {
  background: linear-gradient(270deg, #755797 0%, #9B4DF0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-style: Italic;
  font-size: 32px;
  line-height: 1.2em;
  margin-bottom: 40px;
}
/*  */
/*  */
/*  */
/*  */
/*  */
.exhibition {
  padding: 80px 0;
  background: url("../Images/BG.png") no-repeat top/cover;
  background-size: 100% 90%;
  height: 100vh;
  min-height: 660px;
  max-height: 768px;
}
.exhibition .section-title {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
  font-family: "0pen Sans", sans-serif;
  font-size: 600;
}
.exhibition .exhibition__grid {
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: clamp(20px, 5vw, 40px);
  overflow: auto;
}
.exhibition .exhibition__grid::-webkit-scrollbar {
  display: none;
}
.exhibition .exhibition__grid .exhibition__item {
  width: clamp(400px, 20vw, 417px);
  min-width: 410px;
  height: auto;
  background: linear-gradient(59.05deg, #DDBFFF 0.39%, #EDDDFF 93.5%);
  border-radius: 12px;
  padding: clamp(10px, 1.3vw, 30px);
  padding-bottom: 50px;
}
.exhibition .exhibition__grid .exhibition__item img {
  width: 80px;
  height: 80px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.exhibition .exhibition__grid .exhibition__item h3 {
  font-size: 2.4rem;
  line-height: 1.2em;
  font-weight: 700;
  margin-top: 26px;
}
.exhibition .exhibition__grid .exhibition__item p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 8px;
}
.exhibition .exhibition__controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.exhibition .exhibition__controls .exhibition__btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  min-width: 60px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}
.exhibition .exhibition__controls .exhibition__btn--next {
  background-color: #ffffff;
}
/*  */
/*  */
/*  */
/*  */
/*  */
.footer {
  padding: 58px 0 92px 0;
  text-align: center;
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  background: linear-gradient(360deg, #000E38 0%, #3F186A 100%);
}
.footer .footer__container {
  display: flex;
  gap: clamp(16px, 3vw, 42px);
}
.footer .footer__container .footer_logo {
  height: 120px;
  width: auto;
}
.footer .footer__container .footer__inner {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: clamp(16px, 3vw, 30px);
}
.footer .footer__container .footer__inner .footer__box {
  display: flex;
  align-items: start;
  gap: 10px;
  width: clamp(200px, 90%, 310px);
}
.footer .footer__container .footer__inner .footer__box .footer_icon {
  width: 52px;
  height: 52px;
  min-width: 60px;
}
.footer .footer__container .footer__inner .footer__box .footer_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .footer__container .footer__inner .footer__box .footer_text {
  color: var(--color-white);
  text-align: start;
}
.footer .footer__container .footer__inner .footer__box .footer_text h5 {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 4px;
}
.footer .footer__container .footer__inner .footer__box .footer_text p {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 4px;
}

.copy__rights {
  padding: 10px;
  background-color: var(--color-white);
  text-align: center;
  font-size: 16px;
}