@media (max-width:1600px) {
    .hero__grid {
        justify-content: center;
        gap: clamp(8px, 6vw, 34px);
        .hero__content {
            width: 50vw;
        }
        .hero__slider-box {
            display: none;
        }
        .hero__form_wrapper {
            width: 50vw;

        }
    }
}
@media (max-width:1100px) {
    .hero {
        height: auto;
        max-height: unset;
    }
    .hero__grid {
        padding: 70px 0;

        .hero__content {
            width: 50vw;
            .hero__event {
                height: auto;
                width: fit-content;
                .hero__event-content {
                    width: fit-content;
                    flex-wrap: wrap;
                    .event-text {
                        width: 100%;
                        padding: 13px;
                        &:first-child {
                            border-bottom: 1px solid #000e383c;
                            border-right: none !important;
                        }
                    }
                }
            }
        }

    }
}
@media (max-width:800px) {
    .header__logo{
        width: 120px;
        img{
            width: 100%;
        }
    }
    .hero {
        height: auto;
        max-height: unset;
    }
    .hero__grid {
        flex-wrap: wrap;
        .hero__content {
            width: 100%;
            .hero__event {
                border-radius: 12px;
                margin-inline: auto;
                .hero__event-content {
                    border-radius: 12px;
                }
            }
        }
        .hero__form_wrapper {
            max-width: 100%;
            width: 100%;
        }

    }

    // ----------------- 2nd section css start ------------------------------------------------
    .stats {
        .stats__grid {

            .stats__item {
                width: 100%;
                aspect-ratio: 1.3
                ;
            }
        }
    }
    // ----------------- 2nd section css end ------------------------------------------------

    .categories {
    padding: 00px 0 40px 0;
    .categories__grid {
        .card {
            width: 100%;
            aspect-ratio: 1.3;
            height: auto;
        }
    }
    }




    // ----------------- appointment section css start ------------------------------------------------

    .appointment {

    .appointment__grid {
        padding-left: clamp(20px, 1vw, 100px);
        .appointment__content {
            padding: 60px 0;
            .appointment__sub-text {
                font-size: 27px;
            }
            .section-title {
                font-size: 34px;
            }
            .appointment__subtitle {
                font-size: 27px;

            }
        }
    }
}
// ----------------- appointment section css end ------------------------------------------------
}
